*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    line-height: 18px;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
    padding: 8px;
    color: black;
    background-color:lightskyblue;
    position: absolute;
    transition-duration: 0.1s;
}
textarea{
    height: 35%;
    width: 30%;
    position: absolute;
    right: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    resize: none;
    padding: 90px;
    transition-duration: 0.2s;
    border-radius: 8px;
}
